<div class='row'>
    <div class='col-sm-12'>
        <div class='box bordered-box blue-border'>
            <div class='box-header blue-background'>
                <div class='title'>
                    Tìm đơn hàng
                </div>
                <div class='actions'>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                    </a>

                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box-content'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <p>
                            <strong>Tên khách hàng</strong>
                        </p>
                        <input class="form-control" placeholder="Tên khách hàng" style="margin-bottom: 0;" type="text">
                    </div>
                    <div class='col-sm-3'>
                        <p>
                            <strong>Mã hóa đơn</strong>
                        </p>
                        <input class="form-control" placeholder="Mã hóa đơn" style="margin-bottom: 0;" type="text">
                    </div>
                    <div class='col-sm-3'>
                        <p>
                            <strong>Ngày giao hàng</strong>
                        </p>
                        <div>
                            <div class='datepicker-input input-group' id='delivery-date'>
                                <input class='form-control' data-format='DD-MM-YYYY' placeholder='Ngày giao hàng' type='text'>
                                <span class='input-group-addon'>
                                    <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <p>
                            <strong>Ngày đặt hàng</strong>
                        </p>
                        <div>
                            <div class='datepicker-input input-group' id='order-date'>
                                <input class='form-control' data-format='DD-MM-YYYY' placeholder='Ngày đặt hàng' type='text'>
                                <span class='input-group-addon'>
                                    <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class='hr-normal'>
                <div class='row'>
                    <button class="btn btn-primary btn-lg" style="margin-bottom: 5px;margin-left:40%">
                        <i class="icon-search icon-white"></i>
                        Tìm đơn hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
