@{
    Layout = null;
    }
<!DOCTYPE html>
<!--[if IEMobile 7]>
	<html class="iem7" lang="en" dir="ltr">
	<![endif]-->
<!--[if lte IE 6]>
		<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr">
		<![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
				<html class="lt-ie9" lang="en" dir="ltr">
				<![endif]-->
<!--[if IE 9]>
					<html class="lt-ie9" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#">
					<![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]>
						<!-->
<html lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#">
<!--<![endif]-->
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />>
    <meta property="og:url" content="http://nguyenthanhnhan.net" />
    <meta property="og:site_name" content="Bữa ăn ngon cùng đầu bếp nổi tiếng" />
    <link rel="shortcut icon" href="sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hệ thống cung cấp các bữa ăn ngon được chế biến bởi các đầu bếp nổi tiếng. Nguyên liệu tươi ngon từ các nhà cung cấp uy tính, đảm bảo an toàn thực phẩm." />
    <meta name="description" content="Hệ thống cung cấp các bữa ăn ngon được chế biến bởi các đầu bếp nổi tiếng. Nguyên liệu tươi ngon từ các nhà cung cấp uy tính, đảm bảo an toàn thực phẩm." />
    <link rel="canonical" href="http://nguyenthanhnhan.net" />
    <link rel="shortlink" href="http://nguyenthanhnhan.net" />
    <meta property="og:title" content="Bữa ăn ngon cùng đầu bếp nổi tiếng" />
    <title>Bữa ăn ngon cùng đầu bếp nổi tiếng</title>
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="cleartype" content="on">
    <script type="text/javascript">
        WebFontConfig = {fontdeck: {id: '35644'}};(function () {var wf = document.createElement('script');wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';wf.type = 'text/javascript';wf.async = 'true';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(wf, s);})();
    </script>
    <script src="~/Content/introduction/jquery.min.js"></script>
    <script>
        window.jQuery || document.write("<script src='../../Content/introduction/sites/all/modules/jquery_update/replace/jquery/1.8/jquery.min.js'>\x3C/script>")
    </script>
    <script src="~/Content/introduction/sites/default/files/js/jQueryOne.js"></script>
    <script src="~/Content/introduction/sites/default/files/js/DrupalLib.js"></script>
    <script src="~/Content/introduction/sites/default/files/js/global.js"></script>
    <script src="~/Content/introduction/sites/default/files/js/jQueryWaypoint.js"></script>
    <script>
        jQuery.extend(Drupal.settings, {"basePath": "\/","pathPrefix": "en\/","ajaxPageState": {"theme": "shrimp","theme_token": "R4ahLyk9hEWkAQeAS_cDc1OtuWTPgtfJyjCa-0JBSOo","js": {"http:\/\/maps.googleapis.com\/maps\/api\/js?sensor=false\u0026language=en": 1,"https:\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/1.8.2\/jquery.min.js": 1,"0": 1,"misc\/jquery.once.js": 1,"misc\/drupal.js": 1,"sites\/all\/modules\/panels\/js\/panels.js": 1,"sites\/all\/modules\/views_slideshow\/js\/views_slideshow.js": 1,"sites\/all\/modules\/field_group\/field_group.js": 1,"misc\/collapse.js": 1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/js\/views_slideshow_cycle.js": 1,"sites\/all\/modules\/clientside_validation\/jquery-validate\/jquery.validate.min.js": 1,"misc\/form.js": 1,"sites\/all\/libraries\/jquery.cycle\/jquery.cycle.all.js": 1,"sites\/all\/modules\/google_analytics\/googleanalytics.js": 1,"1": 1,"http:\/\/www.shrimp.eu\/sites\/all\/themes\/shrimp\/js\/PxLoader.js": 1,"http:\/\/www.shrimp.eu\/sites\/all\/themes\/shrimp\/js\/PxLoaderImage.js": 1,"sites\/all\/libraries\/superfish\/jquery.hoverIntent.minified.js": 1,"sites\/all\/libraries\/superfish\/jquery.bgiframe.min.js": 1,"sites\/all\/libraries\/superfish\/superfish.js": 1,"sites\/all\/libraries\/easing\/jquery.easing.js": 1,"sites\/all\/modules\/superfish\/superfish.js": 1,"sites\/all\/themes\/shrimp\/js\/waypoints.min.js": 1,"sites\/all\/themes\/shrimp\/js\/magnific-popup\/jquery.magnific-popup.js": 1,"sites\/all\/themes\/shrimp\/js\/popups.js": 1,"sites\/all\/themes\/shrimp\/js\/footer.js": 1,"sites\/all\/themes\/shrimp\/js\/jquery.superscrollorama.js": 1,"sites\/all\/themes\/shrimp\/js\/superscrollorama.js": 1,"sites\/all\/themes\/shrimp\/js\/script.js": 1,"sites\/all\/themes\/shrimp\/js\/pxload-resources.js": 1,"sites\/all\/themes\/shrimp\/js\/jquery.scrollTo.min.js": 1},"css": {"modules\/system\/system.base.css": 1,"modules\/system\/system.menus.css": 1,"modules\/system\/system.messages.css": 1,"modules\/system\/system.theme.css": 1,"modules\/field\/theme\/field.css": 1,"modules\/node\/node.css": 1,"modules\/user\/user.css": 1,"sites\/all\/modules\/views\/css\/views.css": 1,"sites\/all\/modules\/ctools\/css\/ctools.css": 1,"sites\/all\/modules\/panels\/css\/panels.css": 1,"sites\/all\/modules\/views_slideshow\/views_slideshow.css": 1,"sites\/all\/themes\/shrimp\/layouts\/onecolumn\/onecolumn.css": 1,"sites\/all\/modules\/field_group\/field_group.css": 1,"sites\/all\/modules\/views_slideshow\/views_slideshow_controls_text.css": 1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/views_slideshow_cycle.css": 1,"sites\/all\/libraries\/superfish\/css\/superfish.css": 1,"sites\/all\/themes\/shrimp\/system.menus.css": 1,"sites\/all\/themes\/shrimp\/css\/normalize.css": 1,"sites\/all\/themes\/shrimp\/css\/wireframes.css": 1,"sites\/all\/themes\/shrimp\/css\/layouts\/responsive-sidebars.css": 1,"sites\/all\/themes\/shrimp\/css\/page-backgrounds.css": 1,"sites\/all\/themes\/shrimp\/css\/tabs.css": 1,"sites\/all\/themes\/shrimp\/css\/pages.css": 1,"sites\/all\/themes\/shrimp\/css\/blocks.css": 1,"sites\/all\/themes\/shrimp\/css\/navigation.css": 1,"sites\/all\/themes\/shrimp\/css\/views-styles.css": 1,"sites\/all\/themes\/shrimp\/css\/nodes.css": 1,"sites\/all\/themes\/shrimp\/css\/forms.css": 1,"sites\/all\/themes\/shrimp\/css\/fields.css": 1,"sites\/all\/themes\/shrimp\/css\/fresh.css": 1,"sites\/all\/themes\/shrimp\/css\/graphs.css": 1,"sites\/all\/themes\/shrimp\/css\/numbers.css": 1,"sites\/all\/themes\/shrimp\/css\/threptikes.css": 1,"sites\/all\/themes\/shrimp\/css\/footer.css": 1,"sites\/all\/themes\/shrimp\/js\/magnific-popup\/magnific-popup.css": 1,"sites\/all\/themes\/shrimp\/css\/lightbox.css": 1,"sites\/all\/themes\/shrimp\/css\/tablet.css": 1,"sites\/all\/themes\/shrimp\/css\/print.css": 1,"sites\/all\/themes\/shrimp\/css\/awwwards.css": 1}},"field_group": {"div": "full"},"viewsSlideshow": {"frontpage_slideshow-panel_pane_1": {"methods": {"goToSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"nextSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"pause": ["viewsSlideshowControls", "viewsSlideshowCycle"],"play": ["viewsSlideshowControls", "viewsSlideshowCycle"],"previousSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"transitionBegin": ["viewsSlideshowPager", "viewsSlideshowSlideCounter"],"transitionEnd": []},"paused": 0},"frontpage_slideshow-panel_pane_2": {"methods": {"goToSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"nextSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"pause": ["viewsSlideshowControls", "viewsSlideshowCycle"],"play": ["viewsSlideshowControls", "viewsSlideshowCycle"],"previousSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"transitionBegin": ["viewsSlideshowPager", "viewsSlideshowSlideCounter"],"transitionEnd": []},"paused": 0},"frontpage_slideshow-panel_pane_3": {"methods": {"goToSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"nextSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"pause": ["viewsSlideshowControls", "viewsSlideshowCycle"],"play": ["viewsSlideshowControls", "viewsSlideshowCycle"],"previousSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"],"transitionBegin": ["viewsSlideshowPager", "viewsSlideshowSlideCounter"],"transitionEnd": []},"paused": 0}},"viewsSlideshowPager": {"frontpage_slideshow-panel_pane_1": {"bottom": {"type": "viewsSlideshowPagerFields"}},"frontpage_slideshow-panel_pane_2": {"bottom": {"type": "viewsSlideshowPagerFields"}},"frontpage_slideshow-panel_pane_3": {"bottom": {"type": "viewsSlideshowPagerFields"}}},"viewsSlideshowPagerFields": {"frontpage_slideshow-panel_pane_1": {"bottom": {"activatePauseOnHover": 0}},"frontpage_slideshow-panel_pane_2": {"bottom": {"activatePauseOnHover": 0}},"frontpage_slideshow-panel_pane_3": {"bottom": {"activatePauseOnHover": 0}}},"viewsSlideshowControls": {"frontpage_slideshow-panel_pane_1": {"bottom": {"type": "viewsSlideshowControlsText"}},"frontpage_slideshow-panel_pane_2": {"bottom": {"type": "viewsSlideshowControlsText"}},"frontpage_slideshow-panel_pane_3": {"bottom": {"type": "viewsSlideshowControlsText"}}},"viewsSlideshowCycle": {"#views_slideshow_cycle_main_frontpage_slideshow-panel_pane_1": {"num_divs": 2,"id_prefix": "#views_slideshow_cycle_main_","div_prefix": "#views_slideshow_cycle_div_","vss_id": "frontpage_slideshow-panel_pane_1","effect": "scrollHorz","transition_advanced": 1,"timeout": 0,"speed": 1500,"delay": 0,"sync": 1,"random": 0,"pause": 1,"pause_on_click": 0,"action_advanced": 1,"start_paused": 0,"remember_slide": 0,"remember_slide_days": 1,"pause_when_hidden": 0,"pause_when_hidden_type": "full","amount_allowed_visible": "","nowrap": 1,"fixed_height": 1,"items_per_slide": 1,"wait_for_image_load": 1,"wait_for_image_load_timeout": 2000,"cleartype": 0,"cleartypenobg": 0,"advanced_options": "{\u0022containerResize\u0022:\u00220\u0022,\u0022slideResize\u0022:\u00220\u0022,\u0022fit\u0022:\u00221\u0022}","advanced_options_choices": "fit","advanced_options_entry": 1},"#views_slideshow_cycle_main_frontpage_slideshow-panel_pane_2": {"num_divs": 2,"id_prefix": "#views_slideshow_cycle_main_","div_prefix": "#views_slideshow_cycle_div_","vss_id": "frontpage_slideshow-panel_pane_2","effect": "scrollHorz","transition_advanced": 1,"timeout": 0,"speed": 1500,"delay": 0,"sync": 1,"random": 0,"pause": 1,"pause_on_click": 0,"action_advanced": 1,"start_paused": 0,"remember_slide": 0,"remember_slide_days": 1,"pause_when_hidden": 0,"pause_when_hidden_type": "full","amount_allowed_visible": "","nowrap": 1,"fixed_height": 1,"items_per_slide": 1,"wait_for_image_load": 1,"wait_for_image_load_timeout": 2000,"cleartype": 0,"cleartypenobg": 0,"advanced_options": "{\u0022containerResize\u0022:\u00220\u0022,\u0022slideResize\u0022:\u00220\u0022,\u0022fit\u0022:\u00221\u0022}","advanced_options_choices": "fit","advanced_options_entry": 1},"#views_slideshow_cycle_main_frontpage_slideshow-panel_pane_3": {"num_divs": 2,"id_prefix": "#views_slideshow_cycle_main_","div_prefix": "#views_slideshow_cycle_div_","vss_id": "frontpage_slideshow-panel_pane_3","effect": "scrollHorz","transition_advanced": 1,"timeout": 0,"speed": 1500,"delay": 0,"sync": 1,"random": 0,"pause": 1,"pause_on_click": 0,"action_advanced": 1,"start_paused": 0,"remember_slide": 0,"remember_slide_days": 1,"pause_when_hidden": 0,"pause_when_hidden_type": "full","amount_allowed_visible": "","nowrap": 1,"fixed_height": 1,"items_per_slide": 1,"wait_for_image_load": 1,"wait_for_image_load_timeout": 2000,"cleartype": 0,"cleartypenobg": 0,"advanced_options": "{\u0022containerResize\u0022:\u00220\u0022,\u0022slideResize\u0022:\u00220\u0022,\u0022fit\u0022:\u00221\u0022}","advanced_options_choices": "fit","advanced_options_entry": 1}},"googleanalytics": {"trackOutbound": 1,"trackMailto": 1,"trackDownload": 1,"trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip","trackDomainMode": "2","trackCrossDomains": ["freshrimp.gr", "garida.gr", "garides.gr", "prawn.eu", "prawn.gr", "prawns.gr", "shrimp.eu", "shrimps.gr", "shrimp.gr"]},"superfish": {"1": {"id": "1","sf": {"animation": {"opacity": "show","height": ["show", "easeInCubic"]},"speed": "\u0027fast\u0027","autoArrows": false,"dropShadows": false},"plugins": {"bgiframe": true}}},"shrimp": {"isTablet": false},"clientsideValidation": {"forms": {"pb-user-login-form": {"errorPlacement": "5","general": {"errorClass": "error","wrapper": "li","validateTabs": 0,"scrollTo": 1,"scrollSpeed": "1000","disableHtml5Validation": 1,"validateOnBlur": "1","validateOnBlurAlways": "0","validateOnKeyUp": "1","validateOnSubmit": "1","showMessages": "0","errorElement": "span"},"rules": {"name": {"required": true,"messages": {"required": "Username field is required.","maxlength": "Username field has to have maximum 60 values."},"maxlength": 60},"pass": {"required": true,"messages": {"required": "Password field is required.","maxlength": "Password field has to have maximum 128 values."},"maxlength": 128}}}},"general": {"usexregxp": 0},"groups": {"pb-user-login-form": {}}}});function GotoMenuPage() {window.location.href = "/ecommerce/thuc-don";}
    </script>
    <link href="~/Content/introduction/sites/default/files/css/introduction.css" rel="stylesheet" media="all" />
    <link href="~/Content/introduction/sites/default/files/css/introduction1.css" rel="stylesheet" media="all"/>
    <link href="~/Content/introduction/sites/default/files/css/introduction2.css" rel="stylesheet" media="all"/>
    <link href="~/Content/introduction/sites/default/files/css/introduction3.css" rel="stylesheet" media="all"/>
    <script src="~/Content/introduction/TweenMax.min.js"></script>
    <!--[if lt IE 9]>
		<script src="/sites/all/themes/zen/js/html5-respond.js">
		</script>
	<![endif]-->
</head>
<body class="html front not-logged-in no-sidebars page-home i18n-en page-panels is-not-tablet">
    <p id="skip-link">
        <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
    </p>
    <div id='progress-wrapper'>
        <div id='progress'>
            0%
        </div>
    </div>
    <div id="page">
        <header id="header" role="banner">
        </header>
        <div id="main">
            <div id="content" class="column" role="main">
                <a id="main-content"></a>
                <div class="one-column slide">
                    <section id="simple-slide-58" class="node-73 node node-simple-slide view-mode-full fluid-slide clearfix">
                        <div id="slide-logo">
                        </div>
                        <div id="slide-text-wrapper" style="margin-top: -35px !important;">
                            <div id="slide-bulding-wrapper">
                            </div>
                            <div class="field-group-format group_slide_group field-group-div group-slide-group  speed-none effect-none">
                                <div class="field field-name-field-simple-slide-title field-type-text-long field-label-hidden" style="font-family:robotoRegular;font-size:35px">
                                    Truy vết nguyên liệu thực phẩm an toàn
															<br />
                                    chế biến thủ công bởi các Đầu bếp Nổi tiếng
                                </div>
                                <div class="field field-name-field-simple-slide-subtitle field-type-text-long field-label-hidden" style="font-family:robotoRegular;font-size:18px">
                                    Hệ thống Eat With Chef cung cấp các món ăn ngon chế biến bởi các đầu bếp nổi tiếng,
															<br />
                                    nguồn nguyên liệu tươi ngon trong ngày từ các nhà cung cấp uy tính,
															<br />
                                    đảm bảo sức khỏe, trải nghiệm món ăn ngon trong không khí gia đình.
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.node -->
                    <section id="simple-slide-54" class="node-74 node node-simple-slide view-mode-full fluid-slide clearfix">
                        <div class="field-group-format group_slide_group field-group-div group-slide-group  speed-none effect-none">
                            <div class="field field-name-field-simple-slide-title field-type-text-long field-label-hidden" style="font-family: robotoRegular;font-size:42px;">
                                QUÀ TẶNG TỪ THIÊN NHIÊN,
														<br />
                                CHẾ BIẾN BỞI CÁC ĐẦU BẾP NỔI TIẾNG
                            </div>
                            <div class="field field-name-field-simple-slide-subtitle field-type-text-long field-label-hidden" style="font-family: robotoRegular">
                                Không hóa chất, không chất bảo quản,
														<br />
                                thực phẩm từ nguồn nguyên liệu tươi trong ngày.
                                <br />
                                <button class="genaral-btn-2" style="width:210px;float:left;font-family: PFDin-Medium" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</button>
                            </div>
                        </div>
                        <div class="background-image-placeholder">
                        </div>
                    </section>
                    <!-- /.node -->
                    <div class="view view-frontpage-slideshow view-id-frontpage_slideshow view-display-id-panel_pane_1 views-slideshow view-dom-id-7a661d1fffaacae595c903928eff2730">
                        <div class="view-header">
                            <div id="freshness-slide" class="slide-learn-more">
                                <a href="en/learn-why.html" class="open-popup-ajax">Learn Why</a>
                            </div>
                        </div>
                        <div class="view-content">
                            <div class="skin-default">
                                <div id="views_slideshow_cycle_main_frontpage_slideshow-panel_pane_1" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_frontpage_slideshow-panel_pane_1" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_1_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-slideshow-cycle-main-frame-row-item-wrapper">
                                                    <div class="views-field views-field-nothing">
                                                        <div class="field-content">
                                                            <div id="pocket-watch-case">
                                                            </div>
                                                            <div id="pocket-watch-dial">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="views-field views-field-field-simple-slide-title">
                                                        <h3 class="field-content">
                                                            <div class="field-name-field-simple-slide-title" style="font-family: robotoRegular">
                                                                NGUYÊN LIỆU TƯƠI TRONG NGÀY
																						<br />
                                                                HƯƠNG VỊ HOÀN HẢO
                                                            </div>
                                                        </h3>
                                                    </div>
                                                    <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                        Hệ thống EWC có vị trí thuận lợi, đảm bảo việc đánh bắt, thu hoạch &amp; vận chuyển
																				<br />
                                                        các nguyên liệu chế biến diễn ra trong ngày, giúp giữ được hương vị ngọt ngào, hoàn hảo từ thiên nhiên.
																				<br />
                                                    </div>
                                                    <div class="views-field views-field-nothing-1">
                                                        <span class="field-content">
                                                            <div class='information'>
                                                                <a href="javascript:void(0)" style="width:210px;font-family: PFDin-Medium;font-size:25px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                                                            <br />
                                                <div class="views-slideshow-cycle-main-frame-row-bkg">
                                                    <div class="views-slideshow-cycle-main-frame-row-bkg-inner">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_1_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-slideshow-cycle-main-frame-row-item-wrapper">
                                                    <div class="views-field views-field-nothing">
                                                        <div class="field-content">
                                                            <div id="truck-frame">
                                                            </div>
                                                            <div id="truck-tyres-front">
                                                            </div>
                                                            <div id="truck-tyres-rear">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="views-field views-field-field-simple-slide-title">
                                                        <h3 class="field-content">
                                                            <div class="field-name-field-simple-slide-title">
                                                                GIAO HÀNG 16H00 - 20H00 HÀNG NGÀY
																						<br />
                                                            </div>
                                                        </h3>
                                                    </div>
                                                    <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                        Các món ăn tươi, ngon đơợc các đầu bếp nổi tiếng chế biến trong ngày,
																				<br />
                                                        các món ăn được giao 16h00 - 20h00 hàng ngày,
																				<br />
                                                        giúp bạn có bữa ăn tối ngon miệng và ấm áp bên gia đình.
                                                    </div>
                                                    <div class="views-field views-field-nothing-1">
                                                        <span class="field-content">
                                                            <div class='information'>
                                                                <a href="javascript:void(0)" style="font-size:25px;width:210px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="views-slideshow-cycle-main-frame-row-bkg">
                                                    <div class="views-slideshow-cycle-main-frame-row-bkg-inner">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-slideshow-controls-bottom clearfix">
                                    <div id="widget_pager_bottom_frontpage_slideshow-panel_pane_1" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field" style="display:none">
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_1_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd" >
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    1
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_1_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even" >
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    2
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="views_slideshow_controls_text_frontpage_slideshow-panel_pane_1" class="views-slideshow-controls-text views_slideshow_controls_text">
                                        <span id="views_slideshow_controls_text_previous_frontpage_slideshow-panel_pane_1" class="views-slideshow-controls-text-previous views_slideshow_controls_text_previous">
                                            <a href="#">Previous</a>
                                        </span>
                                        <span id="views_slideshow_controls_text_next_frontpage_slideshow-panel_pane_1" class="views-slideshow-controls-text-next views_slideshow_controls_text_next">
                                            <a href="#">Next</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-pane pane-custom pane-1">
                        <div class="pane-content">
                        </div>
                    </div>
                    <div class="view view-frontpage-slideshow view-id-frontpage_slideshow view-display-id-panel_pane_2 views-slideshow view-dom-id-c6f2f861b07f6a9e6a220d516e4e3e1b">
                        <div class="view-header">
                            <div id="natural-slide" class="slide-learn-more">
                                <a href="en/learn-why.html" class="open-popup-ajax">Learn Why</a>
                            </div>
                        </div>
                        <div class="view-content">
                            <div class="skin-default">
                                <div id="views_slideshow_cycle_main_frontpage_slideshow-panel_pane_2" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_frontpage_slideshow-panel_pane_2" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_2_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-nothing">
                                                    <div class="field-content">
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-simple-slide-title">
                                                    <h3 class="field-content">
                                                        <div class="field-name-field-simple-slide-title" style="font-family: robotoRegular;font-size:38px;width:500px">
                                                            THẬT SỰ THIÊN NHIÊN
																					<br />
                                                            THÂN THIỆN MÔI TRƯỜNG
                                                        </div>
                                                    </h3>
                                                </div>
                                                <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                    Rau tươi được trồng và chăm sóc theo phương pháp sinh học tại các nông trại ở Lâm Đồng đảm bảo luôn tươi ngon và an toàn với môi trường.
                                                    Thủy hải sản được đánh bắt gần bờ từ vùng biển Bình Châu và Cà Mau luôn được đánh giá cao về chất lượng.
                                                <div class="views-field views-field-nothing-1">
                                                    <span class="field-content">
                                                        <div class='information'>
                                                            <a href="javascript:void(0)" style="width:210px;font-size:25px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                        </div>
                                                    </span>
                                                </div>
                                                </div>     
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_2_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-nothing">
                                                    <div class="field-content">
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-simple-slide-title">
                                                    <h3 class="field-content">
                                                        <div class="field-name-field-simple-slide-title" style="font-family: robotoRegular">
                                                            BẠN CÓ BIẾT
																					<br />
                                                            <p style="font-size:40px">HOẠT ĐỘNG KHAI THÁC CỦA CON NGƯỜI ĐANG HỦY HOẠI MÔI TRƯỜNG?</p>
                                                        </div>
                                                    </h3>
                                                </div>
                                                <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                    Với mỗi đơn hàng, Eat With Chef cam kết đóng góp một phần vào việc cải tạo môi trường thiên nhiên. 
                                                    Bởi vì thiên nhiên luôn mang lại những điều tuyệt vời cho cuộc sống.
                                                </div>
                                                <div class="views-field views-field-nothing-1">
                                                    <span class="field-content">
                                                        <div class='information'>
                                                            <a href="javascript:void(0)" style="width:210px;font-size:25px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-slideshow-controls-bottom clearfix">
                                    <div id="widget_pager_bottom_frontpage_slideshow-panel_pane_2" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field" style="display:none">
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_2_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    1
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_2_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    2
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="views_slideshow_controls_text_frontpage_slideshow-panel_pane_2" class="views-slideshow-controls-text views_slideshow_controls_text">
                                        <span id="views_slideshow_controls_text_previous_frontpage_slideshow-panel_pane_2" class="views-slideshow-controls-text-previous views_slideshow_controls_text_previous">
                                            <a href="#">Previous</a>
                                        </span>
                                        <span id="views_slideshow_controls_text_next_frontpage_slideshow-panel_pane_2" class="views-slideshow-controls-text-next views_slideshow_controls_text_next">
                                            <a href="#">Next</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-pane pane-custom pane-2">
                        <div class="pane-content">
                        </div>
                    </div>
                    <div class="view view-frontpage-slideshow view-id-frontpage_slideshow view-display-id-panel_pane_3 views-slideshow view-dom-id-8593061854e19eeaad2a9e78e13b5f1a">
                        <div class="view-header">
                            <div id="quality-slide" class="slide-learn-more">
                                <a href="en/learn-why.html" class="open-popup-ajax">Learn Why</a>
                            </div>
                        </div>
                        <div class="view-content">
                            <div class="skin-default">
                                <div id="views_slideshow_cycle_main_frontpage_slideshow-panel_pane_3" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_frontpage_slideshow-panel_pane_3" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_3_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-nothing">
                                                    <div class="field-content">
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-simple-slide-title">
                                                    <h3 class="field-content">
                                                        <div class="field-name-field-simple-slide-title" style="font-family: robotoRegular;font-size:38px">
                                                            CHÚNG TÔI TỰ HÀO
																					<br />
                                                            MANG ĐẾN 
																					<br />
                                                           BỮA ĂN NGON CHO
																					<br />
                                                            GIA ĐÌNH VIỆT
                                                        </div>
                                                    </h3>
                                                </div>
                                                <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                    Chất lượng luôn là tiêu chí hàng đầu,
																			<br />
                                                    cùng với đội ngũ Đầu bếp Nổi tiếng,
																			<br />
                                                    các đối tác cung cấp nguồn nguyên liệu
																			<br />
                                                    tươi ngon, Eat With Chef tự hào mang 
																			<br />
                                                    quà tặng từ thiên nhiên đến bàn ăn của
																			<br />
                                                    hàng trăm gia đình Việt.
																			<br />
                                                    <div class="views-field views-field-nothing-1" style="float:left;text-align:center">
                                                        <span class="field-content">
                                                            <div class='information'>
                                                                <a href="javascript:void(0)" style="width:210px;font-size:25px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_frontpage_slideshow-panel_pane_3_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-nothing">
                                                    <div class="field-content">
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-simple-slide-title">
                                                    <h3 class="field-content">
                                                        <div class="field-name-field-simple-slide-title" style="font-family: robotoRegular;font-size:38px">
                                                            BẠN CÓ BIẾT
																					<br />
                                                            CHẤT LƯỢNG NGUỒN NGUYÊN LIỆU LÀM NÊN BỮA ĂN 
																					<br />
                                                            NGON HÀNG NGÀY?
                                                        </div>
                                                    </h3>
                                                </div>
                                                <div class="field-name-field-simple-slide-subtitle" style="font-family: robotoRegular">
                                                    70% nguyên liệu từ các vườn rau sạch
																			<br />
                                                    của vùng cao nguyên Lâm Đồng. Sản xuất
																			<br />
                                                    bằng phương pháp sinh học, chất lượng rau
																			<br />
                                                    tươi sạch, không hóa chất, không thuốc tăng trưởng.
																			<br />
                                                    Nguồn thịt tươi ngon đã qua kiểm dịch an toàn
																			<br />
                                                    thực phẩm từ các nhà cung cấp uy tính.
                                                </div>
                                                <div class="views-field views-field-nothing-1">
                                                    <span class="field-content">
                                                        <div class='information'>
                                                            <a href="javascript:void(0)" style="width:210px;font-size:25px" onclick="GotoMenuPage()">MÓN NGON HÔM NAY</a>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-slideshow-controls-bottom clearfix">
                                    <div id="widget_pager_bottom_frontpage_slideshow-panel_pane_3" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field" style="display:none">
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_3_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    1
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_frontpage_slideshow-panel_pane_3_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    2
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="views_slideshow_controls_text_frontpage_slideshow-panel_pane_3" class="views-slideshow-controls-text views_slideshow_controls_text">
                                        <span id="views_slideshow_controls_text_previous_frontpage_slideshow-panel_pane_3" class="views-slideshow-controls-text-previous views_slideshow_controls_text_previous">
                                            <a href="#">Previous</a>
                                        </span>
                                        <span id="views_slideshow_controls_text_next_frontpage_slideshow-panel_pane_3" class="views-slideshow-controls-text-next views_slideshow_controls_text_next">
                                            <a href="#">Next</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third-image-separator">
                    </div>
                    <div id="threptikes-general-container">
                        <div class="view-header">
                            <div class="slide-learn-more" id="quality-slide">
                                <a href="en/learn-why.html" class="open-popup-ajax">Learn Why</a>
                            </div>
                        </div>
                        <div class="image-container">
                            <div class="bg-image">
                            </div>
                            <div id="aktines-container">
                                <div id="garides-aktines">
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <h2 class="section-title" style="font-family: robotoRegular">GIÁ TRỊ DINH DƯỠNG
														<br />
                                TRONG MỖI BỮA ĂN
                            </h2>
                            <div class="subtitle" style="font-family: robotoRegular">
                                Tỉ mỉ, tinh tế trong chế biến, kinh nghiệm từ các Đầu bếp Nổi tiếng,
														<br />
                                giữ được giá trị dinh dưỡng cho món ăn ngon.
                            </div>
                            <div class="blue-fasa">
                                <div class="section-title" style="font-family: robotoRegular">
                                    Bạn có biết
															<br />
                                    bữa ăn tối giúp nạp lại nguồn năng lượng cho một ngày dài làm việc?
                                </div>
                                <div class="subtitle" style="font-family: robotoRegular">
                                    
															<br />
                                    Thực đơn được thiết kế mỗi ngày, mỗi món ăn được các Đầu bếp
															<br />
                                    chăm chút từng chi tiết, đảm bảo giá trị dinh dưỡng cho gia đình
															<br />
                                    bạn sau một ngày dài học tập và làm việc.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-pane pane-views-panes pane-investment-pane-panel-pane-1">
                        <h2 class="pane-title" style="font-family: robotoRegular">HỆ THỐNG
                        </h2>
                        <div class="pane-content">
                            <div class="view view-investment-pane view-id-investment_pane view-display-id-panel_pane_1 view-dom-id-0ab3d071566f05fed4d5938221e7d1e3">
                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">
                                        <div class="views-field views-field-title">
                                            <h3 class="field-content investment-item"  style="font-family: robotoRegular;font-size:34px">
                                                <a href="/ecommerce/thuc-don">SÁNG TẠO</a>
                                            </h3>
                                        </div>
                                        <div class="views-field views-field-view-node">
                                            <div class="field-content investment-item-tablet">
                                                <a href="/ecommerce/thuc-don">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">
                                        <div class="views-field views-field-title">
                                            <h3 class="field-content investment-item" style="font-family: robotoRegular;font-size:34px">
                                                <a href="/ecommerce/thuc-don">AN TOÀN</a>
                                            </h3>
                                        </div>
                                        <div class="views-field views-field-view-node">
                                            <div class="field-content investment-item-tablet">
                                                <a href="/ecommerce/thuc-don">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">
                                        <div class="views-field views-field-title">
                                            <h3 class="field-content investment-item" style="font-family: robotoRegular;font-size:34px">
                                                <a href="/ecommerce/thuc-don">TRÁCH NHIỆM</a>
                                            </h3>
                                        </div>
                                        <div class="views-field views-field-view-node">
                                            <div class="field-content investment-item-tablet">
                                                <a href="/ecommerce/thuc-don">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-4 views-row-even views-row-last">
                                        <div class="views-field views-field-title">
                                            <h3 class="field-content investment-item" style="font-family: robotoRegular;font-size:34px">
                                                <a href="/ecommerce/thuc-don">TIN CẬY</a>
                                            </h3>
                                        </div>
                                        <div class="views-field views-field-view-node">
                                            <div class="field-content investment-item-tablet">
                                                <a href="/ecommerce/thuc-don">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="building-53" class="node-84 node node-building view-mode-full fluid-slide clearfix">
                        <h2 class="pane-title" style="font-family: robotoRegular">CHẾ BIẾN
                        </h2>
                        <div class="building-wrapper">
                            <div class="building-header">
                                <a id="building-4" href="#building-zero">
                                    <div class="field-group-format group_section_5 field-group-div group-section-5  speed-none effect-none">
                                        <div class="field field-name-field-title-section5 field-type-text-long field-label-hidden" style="font-family: robotoRegular">
                                            VỊ TRÍ THUẬN LỢI
                                        </div>
                                        <div class="field field-name-field-subtitle-section5 field-type-text-long field-label-hidden">
                                            Easy access, 
														close to high 
														demand
                                        </div>
                                        <div class="building-read-more">MORE</div>
                                    </div>
                                </a>
                                <a id="building-0" href="#building-first">
                                    <div class="field-group-format group_section_1 field-group-div group-section-1  speed-none effect-none">
                                        <div class="field field-name-field-title-section1 field-type-text field-label-hidden" style="font-family: robotoRegular">
                                            THÂN THIỆN MÔI TRƯỜNG
                                        </div>
                                        <div class="field field-name-field-subtitle-section1 field-type-text-long field-label-hidden">
                                            Space to spend time,
														enjoy yourself and learn 
                                        </div>
                                        <div class="building-read-more">MORE</div>
                                    </div>
                                </a>
                                <a id="building-1" href="#building-second">
                                    <div class="field-group-format group_section_2 field-group-div group-section-2  speed-none effect-none">
                                        <div class="field field-name-field-title-section2 field-type-text field-label-hidden" style="font-family: robotoRegular">
                                            TRUY NGUYÊN 
                                        </div>
                                        <div class="field field-name-field-subtitle-section2 field-type-text-long field-label-hidden">
                                            Transparency 
														in the way we 
														farm and harvest 
                                        </div>
                                        <div class="building-read-more">MORE</div>
                                    </div>
                                </a>
                                <a id="building-2" href="#building-third">
                                    <div class="field-group-format group_section_3 field-group-div group-section-3  speed-none effect-none">
                                        <div class="field field-name-field-title-section3 field-type-text field-label-hidden" style="font-family: robotoRegular">
                                            QUY TRÌNH CHẾ BIẾN
                                        </div>
                                        <div class="field field-name-field-subtitle-section3 field-type-text-long field-label-hidden">
                                            Maximizing 
														production 
														potential 
                                        </div>
                                        <div class="building-read-more">MORE</div>
                                    </div>
                                </a>
                                <a id="building-3" href="#building-fourth">
                                    <div class="field-group-format group_section_4 field-group-div group-section-4  speed-none effect-none">
                                        <div class="field field-name-field-title-section4 field-type-text field-label-hidden" style="font-family: robotoRegular">
                                            NGUYÊN LIỆU TƯƠI NGON 
                                        </div>
                                        <div class="field field-name-field-subtitle-section4 field-type-text-long field-label-hidden">
                                            Efficient use 
														and recovery 
														of natural resources 
                                        </div>
                                        <div class="building-read-more">MORE</div>
                                    </div>
                                </a>
                            </div>
                            <div id="building-section">
                                <div class="image-wrapper" id="image-item-1">
                                </div>
                                <div class="image-wrapper" id="image-item-2">
                                </div>
                                <div class="image-wrapper" id="image-item-3">
                                </div>
                                <div class="image-wrapper" id="image-item-4">
                                </div>
                                <div id="line-container">
                                    <div id="building-line-0" class="building-line">
                                    </div>
                                    <div id="building-line-1" class="building-line">
                                    </div>
                                    <div id="building-line-2" class="building-line">
                                    </div>
                                    <div id="building-line-3" class="building-line">
                                    </div>
                                    <div id="building-line-4" class="building-line">
                                    </div>
                                </div>
                                <div id="pseudo">
                                </div>
                                <div id="overlay-0" class="overlay-wrapper">
                                    <div id="overlay-0-bkg" class="overlay-bkg">
                                    </div>
                                </div>
                                <div id="overlay-0-plus" class="overlay-plus">
                                </div>
                                <div id="overlay-1" class="overlay-wrapper">
                                    <div id="overlay-1-bkg" class="overlay-bkg">
                                    </div>
                                </div>
                                <div id="overlay-1-plus" class="overlay-plus">
                                </div>
                                <div id="overlay-2" class="overlay-wrapper">
                                    <div id="overlay-2-bkg" class="overlay-bkg">
                                    </div>
                                </div>
                                <div id="overlay-2-plus" class="overlay-plus">
                                </div>
                                <div id="overlay-3" class="overlay-wrapper">
                                    <div id="overlay-3-bkg" class="overlay-bkg">
                                    </div>
                                </div>
                                <div id="overlay-3-plus" class="overlay-plus">
                                </div>
                                <div id="overlay-4" class="overlay-wrapper">
                                    <div id="overlay-4-bkg" class="overlay-bkg">
                                    </div>
                                </div>
                                <div id="overlay-4-plus" class="overlay-plus">
                                </div>
                            </div>
                            <div class="building-section" id="building-zero">
                                <div class="building-section-col-left">
                                    <div class="building-section-image">
                                        <a href="javascript:void(0)" target="_blank">
                                            <img height="650" width="2377" src="~/Content/introduction/sites/all/themes/shrimp/images/xartis-large-en.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="building-section-col-right">
                                    <div class="building-section-item-header">
                                        <span class="building-section-number">1.&nbsp;GREAT LOCATION
                                        </span>
                                    </div>
                                    <h1 class="building-section-item-title">Easy access, close to high demand
                                    </h1>
                                    The advantageous location of HELLENIC Inland Shrimp Farms S.A.'s facilities, combines the proximity to points of high demand with easy access to major transportation infrastructure:
															<br />
                                    <ol>
                                        <li>15min from the center of Thessaloniki
                                        </li>
                                        <li>10min from the Port of Thessaloniki
                                        </li>
                                        <li>25min from Makedonia Airport
                                        </li>
                                        <li>60min from Chalkidiki
                                        </li>
                                        <li>2km from Egnatia & the Outer
																	<br />
                                            Ring Road of Thessaloniki
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="building-section" id="building-first">
                                <div class="building-section-col-left">
                                    <div class="building-section-image">
                                        <a href="javascript:void(0)">
                                            <div class="field field-name-field-image-section1 field-type-image field-label-hidden">
                                                <img width="2377" height="650" src="~/Content/introduction/sites/default/files/images/building/filokseno-perivallon.jpg">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="building-section-col-right">
                                    <div class="building-section-item-header">
                                        <span class="building-section-number">2.&nbsp;WELCOMING ENVIRONMENT
                                        </span>
                                    </div>
                                    <h1 class="building-section-item-title">Space to spend time, enjoy yourself and learn
                                    </h1>
                                    <div class="field field-name-field-main-section1 field-type-text-long field-label-hidden">
                                        Our facilities are designed so that our visitors feel welcome and can tour safely. Specifically designed reception, entertainment and education spaces, allow the accommodation of large groups of visitors,
																like schools or other special interest groups
                                    </div>
                                </div>
                            </div>
                            <div class="building-section" id="building-second">
                                <div class="building-section-col-left">
                                    <div class="building-section-image">
                                        <a href="javascript:void(0)">
                                            <div class="field field-name-field-image-section2 field-type-image field-label-hidden">
                                                <img width="2377" height="650" src="~/Content/introduction/sites/default/files/images/building/pliris-episkepsimotita_1.jpg">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="building-section-col-right">
                                    <div class="building-section-item-header">
                                        <span class="building-section-number">3.&nbsp;FULL DISCLOSURE
                                        </span>
                                    </div>
                                    <h1 class="building-section-item-title">Transparency in the way we farm and harvest
                                    </h1>
                                    <div class="field field-name-field-main-section2 field-type-text-long field-label-hidden">
                                        After entering the building, visitors, if they so wish, can follow a predefined route, which allows them to watch all farming procedures, from the hatching of the eggs in the hatchery, up to the harvesting
																of commercial-size shrimp from the grow-out tanks. In addition, if they want, they can order shrimp, watch their harvest &amp; preparation and have them delivered in a matter of minutes.
                                    </div>
                                </div>
                            </div>
                            <div class="building-section" id="building-third">
                                <div class="building-section-col-left">
                                    <div class="building-section-image">
                                        <a href="javascript:void(0)">
                                            <div class="field field-name-field-image-section3 field-type-image field-label-hidden">
                                                <img width="2377" height="650" src="~/Content/introduction/sites/default/files/images/building/meletimeni-leitourgikothta_1.jpg">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="building-section-col-right">
                                    <div class="building-section-item-header">
                                        <span class="building-section-number">4.&nbsp;SOPHISTICATED FUNCTIONALITY
                                        </span>
                                    </div>
                                    <h1 class="building-section-item-title">Maximizing production potential
                                    </h1>
                                    <div class="field field-name-field-main-section3 field-type-text-long field-label-hidden">
                                        The rationally and meticulously designed layout of our facilities, allows all procedures pertinent to shrimp farming to be co-located in the same building. The integration of the different farming stages
																on different levels, the group arrangement of similar procedures and the predefined one-way movement of both staff and products ensure the maximal functional exploitation of all available spaces, as well
																as the maximization of the production capacity.
                                    </div>
                                </div>
                            </div>
                            <div class="building-section" id="building-fourth">
                                <div class="building-section-col-left">
                                    <div class="building-section-image">
                                        <a href="javascript:void(0)">
                                            <div class="field field-name-field-image-section4 field-type-image field-label-hidden">
                                                <img width="2412" height="650" src="~/Content/introduction/sites/default/files/images/building/perivallontiki-syneidisi_1.jpg">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="building-section-col-right">
                                    <div class="building-section-item-header">
                                        <span class="building-section-number">5.&nbsp;ENVIRONMENTAL CONSCIOUSNESS
                                        </span>
                                    </div>
                                    <h1 class="building-section-item-title">Efficient use and recovery of natural resources
                                    </h1>
                                    <div class="field field-name-field-main-section4 field-type-text-long field-label-hidden">
                                        Our facilities were designed to achieve maximal environmental compatibility of the building and minimal environmental impact of its operation. The extensive use of environmentally-friendly materials,
																plantings around and on top, energy from renewable sources and advanced methods for the efficient use and recovery of energy and other natural resources, constitute key components of this comprehensive
																effort.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.node -->
                </div>
                <!-- block__no_wrapper -->
                <!-- region__no_wrapper -->
            </div>
            <!-- /#content -->
            <div id="navigation" style="display:none">
                <nav id="main-menu" role="navigation">
                    <div class="region region-navigation">
                        <div id="block-superfish-1" class="block block-superfish first odd">
                            <h2 class="block-title">Menu
                            </h2>
                            <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-total-items-5 sf-parent-items-3 sf-single-items-2">
                                <li id="menu-237-1" class="active-trail first sf-item-1 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                    <a href="en.html" class="sf-depth-1 menuparent active">INLAND FARMING</a>
                                    <ul>
                                        <li id="menu-673-1" class="first sf-item-1 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">ADVANTAGES</a>
                                        </li>
                                        <li id="menu-674-1" class="middle sf-item-2 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">FRESH, NEVER-FROZEN</a>
                                        </li>
                                        <li id="menu-675-1" class="middle sf-item-3 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">ALL NATURAL</a>
                                        </li>
                                        <li id="menu-676-1" class="middle sf-item-4 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">TOP QUALITY</a>
                                        </li>
                                        <li id="menu-677-1" class="last sf-item-5 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">NUTRITIOUS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-659-1" class="active-trail middle sf-item-2 sf-depth-1 sf-total-children-2 sf-parent-children-0 sf-single-children-2 menuparent">
                                    <a href="en.html" class="sf-depth-1 menuparent active">INVESTMENT</a>
                                    <ul>
                                        <li id="menu-671-1" class="first sf-item-1 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">ADVANTAGES</a>
                                        </li>
                                        <li id="menu-672-1" class="last sf-item-2 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">FACILITIES</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-664-1" class="middle sf-item-3 sf-depth-1 sf-no-children">
                                    <span class="sf-depth-1 nolink">?????? se??da
                                    </span>
                                </li>
                                <li id="menu-660-1" class="active-trail middle sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                    <a href="en.html" class="sf-depth-1 menuparent active">POTENTIAL INVESTORS</a>
                                    @*<ul>
                                        <li id="menu-665-1" class="first sf-item-1 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">STATISTICS</a>
                                        </li>
                                        <li id="menu-669-1" class="middle sf-item-2 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">KARIS</a>
                                        </li>
                                        <li id="menu-666-1" class="middle sf-item-3 sf-depth-2 sf-no-children">
                                            <a href="en.html" class="sf-depth-2 active">SALES FORECAST</a>
                                        </li>
                                        <li id="menu-670-1" class="last sf-item-4 sf-depth-2 sf-no-children">
                                            <a href="en.html" title="" class="sf-depth-2 active">BUSINESS PLAN</a>
                                        </li>
                                    </ul>*@
                                </li>
                                <li id="menu-661-1" class="active-trail last sf-item-5 sf-depth-1 sf-no-children">
                                    <a href="en.html" class="sf-depth-1 active">CONTACT</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.block -->
                        <div id="block-system-user-menu" class="block block-system block-menu even" role="navigation">
                            <ul class="menu">
                                <li class="first last leaf">
                                    <a href="en/user/login.html" title="">LOG IN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.region -->
                </nav>
            </div>
            <!-- /#navigation -->
        </div>
        <!-- /#main -->
        <footer id="footer" class="region region-footer">
            <div id="block-pb-pb-login" class="block block-pb first odd">
                <h2 class="block-title">LOG IN
                </h2>
                <form action="#" method="post" id="pb-user-login-form" accept-charset="UTF-8">
                    <div>
                        <div class="form-item form-type-textfield form-item-name">
                            <label for="edit-name">
                                Username
														<span class="form-required" title="This field is required.">*
                                                        </span>
                            </label>
                            <input placeholder="Username" type="text" id="edit-name" name="name" value="" size="15" maxlength="60" class="form-text required" />
                        </div>
                        <div class="form-item form-type-password form-item-pass">
                            <label for="edit-pass">
                                Password
														<span class="form-required" title="This field is required.">*
                                                        </span>
                            </label>
                            <input placeholder="Password" type="password" id="edit-pass" name="pass" size="15" maxlength="128" class="form-text required" />
                        </div>
                        <input type="hidden" name="form_build_id" value="form-tGatVPUOcWpzIyHoklj7OZnqViU4kGaW2lmOPRmnrkg" />
                        <input type="hidden" name="form_id" value="pb_login_block" />
                        <div class="form-actions form-wrapper" id="edit-actions">
                            <input type="submit" id="edit-submit" name="op" value="ENTER" class="form-submit" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.block -->
            <div id="block-block-6" class="block block-block last even">
                <div id="footer-container" style="font-family: robotoRegular">
                    <div class="map-container">
                        <div id="map-canvas">
                    </div>
                    </div>
                    <h2 class="title">LIÊN HỆ
                    </h2>
                    <div class="address">
                        <p>
                            Đại học FPT
													<br />
                            Công viên phần mềm Quang Trung
													<br />
                            Quận 12, thành phố Hồ Chí Minh
                        </p>
                        <p>
                            Tel.: 0938.228.754
													<br />
                            E-mail:
													<a href="javascript:void(0)">contact@eatwithchef.vn</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en">
    </script>
    <script src="~/Content/introduction/sites/default/files/js/clientsidevalidation.js"></script>
</body>
</html>
