.dataTables_paginate.paging_bootstrap.pagination li {
    list-style:none;
    float:left;
    margin:0 1px;
    border:1px solid #ddd;
    border-radius:3px;
    -webkit-border-radius:3px;
}
.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
    color:#c7c7c7;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
    color:#797979;
    padding:5px 10px;
    display:inline-block;
}
.dataTables_paginate.paging_bootstrap.pagination li:hover a,.dataTables_paginate.paging_bootstrap.pagination li.active a {
    color:#797979;
    background:#eee;
    border-radius:3px;
    -webkit-border-radius:3px;
}
.dataTables_paginate.paging_bootstrap.pagination {
    float:right;
    margin-top:5px;
    margin-bottom:15px;
}
.dataTable tr:last-child {
    border-bottom: 1px solid #ddd;
}
